# Build e Artefatos
target/
bin/
build/
out/
.gradle/
.kotlin/
gen/

# Compilados e Pacotes
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Servidores (Tomcat, Jetty, Glassfish)
temp/
work/
logs/
.deployables/
.recommenders/
*.log

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.metadata/
.classpath
.project
.settings/
*.launch
.externalNativeBuild/

# VS Code
.vscode/
*.code-workspace

# Segurança e Configurações Locais
*.jks
*.keystore
*.p12
*.pem
local.properties
google-services.json

# SO
.DS_Store
Thumbs.db
desktop.ini

# arquivos temporários do maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextSnapshot
pom.xml.releaseBackup
release.properties

# JSP/Servlets (uso de maven para dependências)
lib/

# IA
.agent
.specify
