bin/
build/
.gradle/
out/
gen/

.kotlin/
*.class
*.pyc

.externalNativeBuild/
.cxx/
capture/
local.properties
/captures/
*.apk
*.ap_
*.aab
*.dex

.idea/
*.iml
*.iws
*.ipr

.DS_Store
Thumbs.db

*.jks
*.keystore
*.p12
google-services.json
